@charset "UTF-8";

.container {
    background-color: #fdd;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "header header header header"
        "menu content content content"
        "rodape rodape rodape ad"
    ;
}

.item {
    background-color: #00f;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

header {
    grid-area: header;
}

nav {
    grid-area: menu;
}

section {
    grid-area: content;
}

footer {
    grid-area: rodape;
}

.ad {
    grid-area: ad;
}


@media (max-width: 750px) {
    .container {
        grid-template-areas: 
            "header header header menu"
            "content content content content"
            "ad ad ad ad"
            "rodape rodape rodape rodape"
        ;
    }
}