@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    box-shadow: inset;
}

body {
    background-image: linear-gradient(to top, #2272c3, #2dfdb6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin-top: 1em;
}

h1, p {
    text-align: center;
}

table {
    margin: auto;
    margin-top: 2em;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
}

td {
    padding: 5px;
    text-align: center;
}

thead tr td{
    background-color: #85c1fd;
    font-weight: bolder;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

tbody tr:hover {
    background-color: #808080;
}